APP_NAME="Nepack Website"
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost/nepack-website
APP_TIMEZONE=Asia/Kolkata

DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=nepack_website
DB_USERNAME=root
DB_PASSWORD=
DB_CHARSET=utf8mb4

SESSION_NAME=nepack_session
