# OS
.DS_Store
Thumbs.db

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Logs
*.log

# Cache
storage/cache/*
storage/logs/*
storage/sessions/*

# Uploads
assets/uploads/temp/

# Database Backups
database/backups/*

# Composer
/vendor/

# Environment
.env